
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container1{
    overflow: hidden;
}
body{
    font-family:s'PT Sans', sans-serif;
}
.padding{
    padding: 40px 0;
}
 
.container{
    width:80%;
    margin: auto;
}

.unliststyle{
    list-style: none;
}
a
{text-decoration: none;
}
:root{
    --maincolor:#7b5244;
    --subcolor:#333
}
header{
    padding:20px 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content ul li{
    display: inline-block;
}
.header-content ul li, a{
    color:var(--subcolor)
}
.header-content img{
    flex:1;
    max-width: 170px;
    position: relative;
}


.header-content .navbar{
    flex:3;
    text-align: center;
}
.header-content .icons{
    flex:1;
    text-align: right;
}
.header-content nav ul li .link-item{
    padding:10px 25px;
    display: block;
    font-weight: bold;
    position: relative;
}
.header-content nav ul li .link-item:before{
    position: absolute;
    border-width: 0 2px;
    border-color:var(--maincolor);
    border-style: solid;
    width: 99%;
    height: 100%;
    top:0;
    left:0;
    content: "";
    transform:scale3d(1,0,1);
    transition:transform 0.2s;
}
.header-content nav ul li .link-item:hover:before{
transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item:after{
    content:"";
    position: absolute;
    width:100%;
    height: 91%;
    border-width: 2px 0;
    border-style: solid;
    border-color:var(--maincolor);
    transform:scale3d(0,1,1);
    transition: transform 0.2s;
    top:0;
    right:0;
    transform-origin: left;
}
.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: 0.2s;
}
.header-content .icons ul li{
 padding: 10px;
}
.header-content .icons ul li:last-child i{
position:relative;
margin-right:15px;}
.header-content .icons ul li:last-child i:after{
    position: absolute;
    content:"0";
    background-color:var(--maincolor);
    bottom: 0;
    right: -11px;
 padding: 4px;
    font-size: 13px;
    color:#fff;border-radius: 50%;
}

/* dropdown */
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    width:400px;
    background-color: #fff;
  border:2px solid var(--maincolor);
  padding: 15px;
  margin-top: 5px;
  transform: scale(0);
  transition: transform 0.5s,visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility:visible;
    opacity: 1;
}
.dropdown-menu ul{
    display: table-cell;
    text-align: left;

}
.dropdown-menu ul li:first-child a{
    border-bottom:1px dotted var(--maincolor);
 display: block;
 margin-bottom: 10px;
}
.dropdown-menu ul li{
    line-height: 1.7;
}
/* dropdown2 */
.dropdown-menu2{
    position: relative;
}
.dropdown2{
    position: absolute;
    width:300px;
    border:2px solid var(--maincolor);
    background-color: #fff;
    padding:10px;
    margin-top: 5px;
    transform: scale(0);
    transition: transform 0.5s,visibility 0.5s;
    visibility: hidden;
    opacity:0 ;
}
.dropdown-menu2:hover .dropdown2{
    transform: scale(1);
    visibility:visible;
    opacity: 1;
}
.dropdown-menu2  ul{
    display: table-cell;
    text-align: left;
}
.dropdown-menu2 .dropdown2 ul li:first-child a{
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--maincolor);
    display: block;
}
.dropdown-menu2 .dropdown2 ul li{
    line-height: 1.7;
}
/* dropdown3 */
.dropdown-menu3{
    position: relative;
}
.dropdown3{
    position: absolute;
    width:300px;
    background-color: #fff;
    border:2px solid var(--maincolor);
    padding:15px;
    margin-top: 10px;
    transform: scale(0);
    transition: transform 0.5s,visibility 0.2s;
    visibility: hidden;
    opacity: 0;
}
.dropdown-menu3:hover .dropdown3{
transform: scale(1);
visibility: visible;
opacity: 1;}
.dropdown3 ul{
    display: table-cell;
    text-align: left;
}
.dropdown3 ul  li {
line-height: 1.7;
}
.dropdown3 ul  li:first-child a{
    display: block;
    border-bottom: 1px dotted var(--maincolor);
    margin-bottom: 10px;
}
section.slider img{
    width:100%;
    }

    .bollets{
        position: relative;
    bottom:60px;
    left:600px}
    .bollets a{
        width:10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left:10px;
    }

/* .slider:hover .slider-button{

    opacity: 1;
    visibility: visible;
    background-color: #000;
    
} */
.header1{
    margin:20px 0;
    text-align: center;
}
.header1 h2{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    transition: width 0.5s;

}
.header1 .line{
    width:90px;
    height: 3px;
    background-color: var(--maincolor);
    display: block;
    margin:20px auto}

.header1:hover .line{
        width:150px
    }
.category{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    margin-bottom: 30px;
}
.category-item{
    position: relative;
    transition: transform 0.5s;
    margin-top:20px

}
.category img{
    width:100%;
    margin-bottom: 30px;
}
.category-subtitle{
    color:gray;
    font-weight: normal;
}
.category .icon{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    background-color: var(--maincolor);
    line-height: 40px;
    width:40px;
    display: block;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.category-item:hover .icon{
    opacity: 1;
    visibility: visible;
}
.category-item:hover{
    transform: scale(1.1);
}
                                    /* discount */
.discount{
    display: flex;
    margin-bottom: 30px;
}
.discount .discount-description{
flex:2;
background-color: #f7f3ef;
padding:30px;
position: relative;
}
.top{
    position: relative;
    padding-left: 70px;
    margin-bottom: 40px;
}
.top i{
    position: absolute;
    left:0px;
    top:0px;
    color: var(--maincolor);
    font-size:50px
}
.discount-subtitle{
    font-weight: normal;
}
.top + p{
    line-height: 1.6;
    color:var(--maincolor);
    margin-bottom: 20px;
}
.discount-bolets{
    position: absolute;bottom: 20px;
    right:20px;
    text-align: right;
}
.bolet1{
    width:50px;
    height: 2px;
    background-color:var(--maincolor);
    display: inline-block;
    margin-left: 15px;
    transition: background-color 0.2s;
}
.bolet1:hover{
    background-color: #000;
}


.discount .discount-item{
    flex: 1;
    position: relative;
    transition: transform 0.5s;
}
.discount .discount-item:hover {
    transform: scale(1.1);
}

.discount .discount-item .top-discount-item{
    position: absolute;
    top:25px;
    left: 10px;
}
.subtitle-item{
    color:var(--maincolor);
    font-weight: normal;
}
.discount .discount-item img{
    width:100%;
}
.discount-item:nth-child(2){
    margin:0 20px
}
/* sprites */
.sprites{
    display: flex;
    margin:60px 0;
    margin-bottom: 55px;
}
.sprites .sprite-item{
    flex:1;
    text-align: center;
    border-right: 1px solid var(--maincolor);
}
.sprites .sprite-item:nth-child(5){
    border-right: 0;
}
.sprites .sprite-item h3{
    font-size: 17px;
}
.sprites .sprite-item span{
    color: gray;
    font-size: 15px;
}
.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.sprite-icon1{
background-position: center 5px;
transition: background-position 0.5s;
}
.sprite-icon2{
    background-position: center -180px;
    transition: background-position 0.5s;


}
.sprite-icon3{
    background-position: center -366px;
    transition: background-position 0.5s;
}

.sprite-icon4{
    background-position: center -549px;
    transition: background-position 0.5s;

}
.sprite-icon5{
    background-position: center -734px;
    transition: background-position 0.5s;

}
.sprite-item:hover .sprite-icon1{
    background-position: center -86px;
}
.sprite-item:hover .sprite-icon2{
    background-position: center -273px;
}
.sprite-item:hover .sprite-icon3{
    background-position: center -452px;
}
.sprite-item:hover .sprite-icon4{
    background-position: center -645px;
}

.sprite-item:hover .sprite-icon5{
    background-position: center -822px;
}
/* products */
.header-products{
    text-align: center;
}
.line-product{
    width:60px;
    height: 2px;
    display: block;
    background-color: var(--maincolor);
    margin: 30px auto ;
    transition: width 0.2s;
}
.header-products:hover .line-product{
    width:150px
}
.products-subtitle{
    margin-bottom: 40px;

}
.products-subtitle span{
    margin-left:25px;
    transition: color 0.5s;
}
.products-subtitle span:hover{
    color:var(--maincolor)
}
.product-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px}


.product-items .prduct-item img{
    width: 100%;
}
.product-item-img{
    position: relative;
}
.product-item-overlay{
    position: absolute;
    top:0;
    left:0;
    transform: scale(0,1);
    transition: transform 0.2s;
}
.product-item-overlay ul{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.product-item-overlay ul li{
    display: inline-block;
    width:40px;
    height:40px;
    background-color: var(--maincolor);
    text-align: center;
}
.product-item-overlay ul li i{
    color: #fff;
    line-height: 40px;
}
.product-item-img:hover .product-item-overlay{
    transform: scale(1,1);
}
.label{
    position: relative;
}
.label span{
    position:absolute;
    top:10px;right:10px;
    background-color: var(--maincolor);
    padding:3px;
    color:#fff
}
.product-icon i{
color: orange;
margin:20px 0;
}


.product-icon .gray{
    color:rgb(218, 211, 211)
}
.event{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px
}
.img-event{
    position: relative;
}
.img-event img{
    width:100%
}
.img-event .play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:20%
}
.content-event{
    background-color:#f7f3ef ;
    position: relative;
    padding:30px 
}
.content-event h2{
    padding-left:150px
}
.event-icon{
    position: absolute;
    color:var(--maincolor);

   
}
.event-icon span{
    font-weight: bold;
    font-size: 35px;
}
.event-icon h4{
    font-weight: bold;
}
.content-event p{
    margin-top:50px;
    line-height: 2.5;
}
.cients{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top:30px;
    grid-gap:80px
}
footer{
    background-color: #000;
    color: #fff;
    margin-top:  50px ;
    padding: 10px  40px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.aboutus{
    flex:4;
    padding-right:10px
}
.information{
    flex:1
}
.account{
    flex:1
}
.subscribe{
    flex:2
}
.logo-footer{
    margin-bottom: 20px;
}
.aboutus p{
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;

}
.google-play{
    margin-right:5px
}
.information{
margin:10px 20px;

}
.information h3{
    margin-bottom: 20px;
}
.account h3{
    margin-bottom: 20px;
}
.subscribe{
    text-align: center;
}
.subscribe h4{
    margin-bottom: 40px;
}
.subscribe li{
    display: inline-block;
}

.last-footer{
    text-align: center;
}
.subscribe ul li{
padding:0 5px
} 