*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: ;
}
.un-style{
    list-style: none;
}
:root{
--maincolor:#7b5244;
--subcolor:#333
}
a{
    text-decoration: none;
}
.section-padding{
    padding:40px 0
}
header{
    padding:30px
}
.container{
    margin:auto;
    width:80%;
}

.header-content{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.header-content ul li{
    display: inline-block;
}
.header-content img{
    flex:1;
    max-width: 172px;
}
.header-content .navbar{
    flex:3;
    text-align: center;
}
.header-content .login{
    flex:1;
    text-align: right;
}
 .header-content ul li .link-item{
padding:10px 20px;
font-weight: bold;
color:var(--subcolor);
font-size:15px;
font-weight: bold;
position: relative;
}
.header-content nav ul li .link-item:before{
    position:absolute;
    content:"";
    border-width: 0 2px;
    border-style: solid;
    border-color: var(--maincolor);
    width:99%;
    height: 100%;
    transform: scale3d(1,0,1);
    transition: transform 0.2s;
    top:0;
    left:0
    
}
.header-content nav ul li .link-item:hover:before{
    transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item:after{
    position: absolute;
    content: "";
    border-width: 2px 0;
    border-style: solid;
    width: 100%;
    height: 91%;
    transform: scale3d(0,1,1);
    transition: transform 0.2s;
    left:0;
    top:0;
    transform-origin: left;
}
.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: 0.2s;
}

.login ul li i{
    padding:10px
}
.login ul li:last-child i{
    margin-right: 5px;
    position: relative;
}
.login ul li:last-child i:after{
    position: absolute;
    content: "0";
    bottom: 10px;
    color:#fff;
    background-color: var(--maincolor);
    font-size: 15px;
    padding: 3px;
    border-radius: 50%;
    right:2px
}
section.slider img{
    width:100%
}
/* dropdown */
.dropdown{
    position: relative;
}
.dropdown .dropdown-menu{
    position: absolute;
    width:400px;
    height: 180px;
    border:2px solid var(--maincolor);
    padding:15px 10px;
    background-color: #fff;
    transform: scale(0),;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s , transform 0.2s;
    margin-top: 20px;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1);
    opacity: 1;
    visibility:visible
}
.dropdown .dropdown-menu ul{
    display: table-cell;
}
.dropdown .dropdown-menu ul li{line-height: 1.6;}

.dropdown .dropdown-menu ul a{
color:var(--subcolor)
}
 .dropdown-menu  ul  li:first-child  a{
    margin-bottom: 10px;
    display: block;
    border-bottom:1px dotted var(--maincolor)
}

.bollets{
    position: relative;
bottom:60px;
left:600px}
.bollets a{
    width:10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.header1 .header-category{
text-transform: capitalize;
font-weight: bold;
font-size: 30px;
text-align: center;
}
.header1 .line{
    width:60px;
    height: 3px;
    background-color: var(--maincolor);
    display: block;
    margin: 20px auto;
    transition: width 0.5s ;
    
}
.header1:hover .line{
    width:150px
}
.category-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px
}

.category-items .category-item img{
    width: 100%;
    margin-bottom: 25px;
}
.category-item-subtitel{
color:gray;
font-weight: normal;
}
.category-item .icon{
    width:40px;
    height: 40px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 40px;
    background-color: var(--maincolor);
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;

}
.category-item{
 position: relative;
}

.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}
.discount{
    margin: 30px 0;
    display: flex;
}
.discount-content{
padding:20px;
flex:2;
background-color: #f7f3ef;
}
.top{
    position: relative;    padding-left: 60px;
    margin-bottom: 20px;

}
.top i{
    position: absolute;
    left:0px;
    top:0px;font-size: 50px;
    color: var(--maincolor);
}
.discount-items{
    flex:1;
    height: 300px;

}
.discount-items:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin:0 20px;
}
.discount-items:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
}

